<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.think_different" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="AA_DB_NAME" android:value="Pickrand.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="7" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.think_different.activedroid.Item, com.think_different.activedroid.Category" />
        <activity
            android:name=".activities.EntryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.TestRecycleView"/>
        <activity android:name=".activities.SendWeibo" android:theme="@style/AppThemeActionBar"/>/>
        <activity android:name=".activities.HomePageActivity" />

        <provider
            android:name="com.think_different.dao.WeiboProvider"
            android:authorities="com.think_different.app.provider"
            android:exported="true" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>

</manifest>
